body {
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.dropdownshown {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

input, button, select {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
    display: flex;
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 10;
    background-color: var(--color-one);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .25s ease;
}

.dropdown.shown {
    visibility: visible;
    opacity: 1;
}

.dropdown a {
    display: block;
    font-size: 5vh;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1vh;
}

.announcement {
    position: relative;
    max-height: 3.75vh;
    background-color: var(--color-one);
    color: #fff;
    padding: 1vh 5%;
    text-align: center;
    font-size: 1.75vh;
    transition: max-height .5s ease, padding .5s ease;
}

.announcement.cookie {
    max-height: 0vh;
    padding: 0vh 5%;
    overflow: hidden;
}

.announcement .close {
    position: absolute;
    top: 1vh;
    right: 1.5%;
    cursor: pointer;
}

.navbar {
    display: flex;
    width: 80%;
    padding: 1.5vh 10%;
    align-items: center;
    background-color: var(--color-one);
    position: relative;
}

.navbar.dropdownshown {
    z-index: 11;
}

.navbar .left img {
    height: 8vh;
    width: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity .25s ease, visibility .25s ease;
}

.navbar.dropdownshown .left img {
    visibility: hidden;
    opacity: 0;
}

.navbar .right {
    flex-grow: 100;
    text-align: right;
}

.navbar .right .dropdownbtn {
    display: none;
    font-size: 3vh;
    margin-right: 10%;
}

.navbar .right .closebtn {
    font-size: 4vh;
}

.navbar .right a, .navbar .right .more {
    display: inline-block;
    font-size: 2vh;
    color: #fff;
    text-decoration: none;
    margin-left: 1.5%;
    position: relative;
    padding-bottom: .5vh;
    font-weight: 600;
}

.navbar .right a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: .25vh;
    background-color: #fff;
    transition: width .3s ease;
}

.navbar .right a.active::after, .navbar .right a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .25vh;
    background-color: #fff;
}

.navbar .right a i {
    margin-left: .5%;
}

.navbar .right .more {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.navbar .right .more span {
    cursor: pointer;
}

.navbar .right .more i {
    margin-left: .5vw;
}

.navbar .right .more .dd {
    display: inline-block;
    position: absolute;
    top: 5vh;
    left: -3vw;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    z-index: 5;
    text-align: center;
    transition: opacity .2s ease, visibility .2s ease;
    padding-bottom: 2vh;
}

.navbar .right .more .dd i {
    position: absolute;
    top: -1.3vh;
    margin-left: 0%;
    width: 100%;
    left: 0;
    text-align: center;
}

.navbar .right .more .dd.shown {
    opacity: 1;
    visibility: visible;
}

.navbar .right .more .dd a {
    width: 30.25%;
    padding: 1vh 3.5vw;
    color: #000;
    margin-left: 0;
    transition: background-color .3s ease, color .3s ease;
    font-size: 1.65vh;
    font-weight: 500;
}

.navbar .right .more .dd a:hover {
    background-color: var(--color-one);
    color: #fff;
}

.navbar .right .more .dd a:hover::after, .navbar .right .dropdownbtn {
    width: 0%;
}

.navbar .right a.search i, .navbar .right a.cart i {
    margin-left: none;
}

.navbar .right a.search {
    margin-left: 3%;
}

.navbar .right a.cart {
    position: relative;
    margin-left: 1%;
}

.navbar .right a.search:hover::after, .navbar .right a.cart:hover::after {
    width: 0%;
}

.navbar .right a.cart .num {
    display: flex;
    position: absolute;
    top: -1vh;
    right: -1vh;
    height: 2vh;
    width: 2vh;
    background-color: #2083ba;
    border-radius: 50%;
    font-size: 1.5vh;
    align-items: center;
    justify-content: center;
}

.body {
    display: block;
    width: 70%;
    margin: 5vh 15% 0vh 15%;
    min-height:49.1vh;
}

.body .information {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2vh 0;
    border-radius: .4vh;
    outline: .4vh solid var(--color-one);
}

.body .information .left {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-left: 1vh;
}

.body .information .left .avatar {
    min-height: 15vh;
    min-width: 15vh;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: .5vh solid var(--color-one);
}

.body .information .left .clientInfo {
    margin-left: 10%;
}

.body .information .left .clientInfo h1 {
    font-size: 4vh;
    color: #fff;
    margin: 0;
    font-weight: 600;
}

.body .information .left .clientInfo h2 {
    font-size: 1.9vh;
    /*color: #949494;*/
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.body .information .right {
    display: flex;
    position: relative;
    bottom: 0vh;
    right: 2%;
    flex-grow: 100;
    min-height: 15vh;
    align-items: center;
    justify-content: flex-end;
}

.body .information .right a {
    display: inline-block;
    font-size: 1.5vh;
    margin: 0;
    text-decoration: none;
    background-color: var(--color-one);
    color: #fff;
    padding: .75vh 2.5%;
    margin-left: 2.5%;
    border-radius: .5vh;
    font-weight: bolder;
}

.body .productsContain {
    width: 100%;
    overflow-x: auto;
}

.body .products {
    margin-top: 2.5vh;
    min-width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.body .products th {
    font-size: 1.8vh !important;
    color: var(--color-one);
    font-weight: 600;
    white-space: nowrap;
}

.body .products td, .body .products th {
    padding: 1.5vh 0%;
    font-size: 1.75vh;
    width: contain;
}

.body .products tr:nth-child(even) {
    background-color: #dddddd;
}

.body .products td span.key {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: color .25s ease, text-shadow .25s ease;
    user-select: none;
}

.body .products td span.key:hover {
    color: inherit;
    text-shadow: none;
    cursor: pointer;
    user-select: auto;
}

.body .products td a {
    color: var(--color-one);
    cursor: pointer;
}

.body .products td input[type=text] {
    display: block;
    width: auto;
    color: #000;
    background-color: #fff;
    font-size: 1.75vh;
    border: none;
    outline: none;
    padding: .5vh 2.5%;
    border: .1vh solid #bdbdbd;
    border-radius: .3vh;
}

.body .products td input[type=submit] {
    float: right;
    background-color: var(--color-one);
    color: #fff;
    font-size: 1.75vh;
    border: none;
    outline: none;
    padding: 1vh 5%;
    cursor: pointer;
    border-radius: .3vh;
}

.body .products td.disabled {
    font-weight: 600;
    color: #ff0000;
}

.body .products td.active {
    font-weight: 600;
    color: #4BB543;
}

.footer {
    display: block;
    width: 80%;
    margin-top: 7vh;
    background-color: var(--color-one);
    padding: 3vh 10% 2vh 10%;
}

.footer p {
    font-size: 1.5vh;
    color: #fff;
    opacity: .75;
    text-align: right;
    margin: 0;
    margin-top: 2vh;
}

.footer .top {
    display: flex;
    border-bottom: .2vh solid #fff;
    padding-bottom: 2vh;
}

.footer .top .left, .footer .top .center, .footer .top .right {
    width: 33.33%;
}

.footer .top h1 {
    font-size: 2vh;
    color: #fff;
    margin: 0;
    margin-bottom: 3vh;
}

.footer .top li {
    list-style: none;
}

.footer .top a {
    display: inline-block;
    font-size: 1.75vh;
    color: #fff;
    margin: 0;
    text-decoration: none;
    margin-bottom: 1.25vh;
    opacity: .75;
}

.footer .top .center {
    text-align: center;
}

.footer .top .right {
    text-align: right;
}

@media screen and (max-width: 600px), (orientation : portrait) {
    .announcement .close {
        right: 4%;
    }

    .navbar .right .dropdownbtn {
        display: inline-block;
    }

    .navbar .right .dropdownbtn.hidden {
        display: none;
    }

    .navbar .right .links {
        display: none;
    }

    .body {
        display: block;
        width: 85%;
        margin: 5vh 7.5% 0vh 7.5%;
    }

    .body .information{
        display: block;
    }

    .body .information .left {
        display: block;
        padding: 0 1vh;
        text-align: center;
    }

    .body .information .left .avatar {
        display: inline-block;
        height: 10vh;
        width: 10vh;
    }

    .body .information .left .clientInfo { 
        margin-left: 0vh;
    }

    .body .information .left .clientInfo h1 {
        font-size: 3vh;
    }

    .body .information .left .clientInfo h2 {
        font-size: 1.75vh;
    }

    .body .information .right {
        min-height: auto;
        justify-content: center;
        right: 0;
        margin-top: 3vh;
        text-align: center;
    }

    .footer .top {
        display: block;
    }

    .footer p, .footer h1, .footer li {
        text-align: center !important;
    }

    .footer .top .left, .footer .top .center, .footer .top .right {
        width: 100%;
        text-align: left;
        margin-bottom: 4vh;
    }
}