body {
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.dropdownshown {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

input, button, select {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
    display: flex;
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 10;
    background-color: var(--color-one);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .25s ease;
}

.dropdown.shown {
    visibility: visible;
    opacity: 1;
}

.dropdown a {
    display: block;
    font-size: 5vh;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1vh;
}

.announcement {
    position: relative;
    max-height: 3.75vh;
    background-color: var(--color-one);
    color: #fff;
    padding: 1vh 5%;
    text-align: center;
    font-size: 1.75vh;
    transition: max-height .5s ease, padding .5s ease;
}

.announcement.cookie {
    max-height: 0vh;
    padding: 0vh 5%;
    overflow: hidden;
}

.announcement .close {
    position: absolute;
    top: 1vh;
    right: 1.5%;
    cursor: pointer;
}

.navbar {
    display: flex;
    width: 80%;
    padding: 1.5vh 10%;
    align-items: center;
    background-color: var(--color-one);
    position: relative;
}

.navbar.dropdownshown {
    z-index: 11;
}

.navbar .left img {
    height: 8vh;
    width: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity .25s ease, visibility .25s ease;
}

.navbar.dropdownshown .left img {
    visibility: hidden;
    opacity: 0;
}

.navbar .right {
    flex-grow: 100;
    text-align: right;
}

.navbar .right .dropdownbtn {
    display: none;
    font-size: 3vh;
    margin-right: 10%;
}

.navbar .right .closebtn {
    font-size: 4vh;
}

.navbar .right a, .navbar .right .more {
    display: inline-block;
    font-size: 2vh;
    color: #fff;
    text-decoration: none;
    margin-left: 1.5%;
    position: relative;
    padding-bottom: .5vh;
    font-weight: 600;
}

.navbar .right a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: .25vh;
    background-color: #fff;
    transition: width .3s ease;
}

.navbar .right a.active::after, .navbar .right a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .25vh;
    background-color: #fff;
}

.navbar .right a i {
    margin-left: .5%;
}

.navbar .right .more {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.navbar .right .more span {
    cursor: pointer;
}

.navbar .right .more i {
    margin-left: .5vw;
}

.navbar .right .more .dd {
    display: inline-block;
    position: absolute;
    top: 5vh;
    left: -3vw;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    z-index: 5;
    text-align: center;
    transition: opacity .2s ease, visibility .2s ease;
    padding-bottom: 2vh;
}

.navbar .right .more .dd i {
    position: absolute;
    top: -1.3vh;
    margin-left: 0%;
    width: 100%;
    left: 0;
    text-align: center;
}

.navbar .right .more .dd.shown {
    opacity: 1;
    visibility: visible;
}

.navbar .right .more .dd a {
    width: 30.25%;
    padding: 1vh 3.5vw;
    color: #000;
    margin-left: 0;
    transition: background-color .3s ease, color .3s ease;
    font-size: 1.65vh;
    font-weight: 500;
}

.navbar .right .more .dd a:hover {
    background-color: var(--color-one);
    color: #fff;
}

.navbar .right .more .dd a:hover::after, .navbar .right .dropdownbtn {
    width: 0%;
}

.navbar .right a.search i, .navbar .right a.cart i {
    margin-left: none;
}

.navbar .right a.search {
    margin-left: 3%;
}

.navbar .right a.cart {
    position: relative;
    margin-left: 1%;
}

.navbar .right a.search:hover::after, .navbar .right a.cart:hover::after {
    width: 0%;
}

.navbar .right a.cart .num {
    display: flex;
    position: absolute;
    top: -1vh;
    right: -1vh;
    height: 2vh;
    width: 2vh;
    background-color: #2083ba;
    border-radius: 50%;
    font-size: 1.5vh;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    width: 80%;
    margin: 5vh 10% 0vh 10%;
}

.body .left {
    width: 40vw;
    height: 22.5vw;
    background-color: #e1e1e1;
    overflow: hidden;
    position: relative;
}

.body .left .circlecontrol {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 1.5vh;
    left: 0;
    z-index: 2;
}

.body .left .circlecontrol .circle {
    display: block;
    height: 2vh;
    width: 2vh;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 1%;
    transition: opacity .25s ease;
    cursor: pointer;
}

.body .left .circlecontrol .circle.active {
    opacity: .5;
}

.body .left .back, .body .left .forward {
    display: flex;
    position: absolute;
    z-index: 3;
    font-size: 3vh;
    color: #fff;
    height: 100%;
    align-items: center;
    width: 0%;
    cursor: pointer;
}

.body .left .back {
    left: 0;
}

.body .left .back i {
    margin-left: 1.5vw;
}

.body .left .forward {
    right: 0;
}

.body .left .forward i {
    margin-left: -3vw;
}

.body .left .overflow {
    display: flex;
    position: absolute;
    left: 0%;
    transition: left .25s ease;
}

.body .left .overflow .image {
    height: 22.5vw;
    width: 40vw;
    background-size: cover;
}

.body .right {
    width: 38vw;
    margin-left: 2vw;
    position: relative;
}

.body .right .title {
    font-size: 2.75vh;
    margin: 0;
    font-weight: 600;
    margin-bottom: 1vh;
    padding: 0;
}

.body .right .price {
    display: inline-block;
    margin: 0;
    color: var(--color-one);
    font-size: 2.25vh;
    font-weight: 600;
    margin-bottom: 2vh;
    margin-right: 1vw;
    padding: 0;
}

.body .right h1 {
    font-size: 2.5vh;
    margin: 0;
    margin: .5vh 0;
}

.body .right h2 {
    font-size: 2.5vh;
    margin: 0;
    margin: .5vh 0;
}

.body .right h3 {
    font-size: 2.25vh;
    margin: 0;
    margin: .5vh 0;
}

.body .right h4 {
    font-size: 2vh;
    margin: 0;
    margin: .5vh 0;
}

.body .right h5 {
    font-size: 1.75vh;
    margin: 0;
    margin: .4vh 0;
}

.body .right h6 {
    font-size: 1.5vh;
    margin: 0;
    margin: .3vh 0;
}

.body .right p {
    font-size: 1.65vh;
    margin: 0;
}

.body .right span {
    position: relative;
    margin: 0;
    color: #c7c7c7;
    font-size: 2.25vh;
    font-weight: 600;
}

.body .right span::after {
    position: absolute;
    top: 1.5vh;
    left: 0;
    content: '';
    background-color: #c7c7c7;
    width: 100%;
    height: .25vh;
}

.body .right .bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -5vh;
}

.body .right .bottom form {
    width: 100%;
    text-align: center;
}

.body .right .bottom button[type=submit], .body .right .bottom a {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    background-color: var(--color-one);
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 1vh 7.5%;
    font-size: 1.65vh;
    margin-top: 7.5vh;
    border-radius: .15vh;
    transition: border-radius .25s ease, color .25s ease;
    cursor: pointer;
    outline: none;
    border: none;
}

.body .right .bottom button[type=submit]:hover, .body .right .bottom a:hover {
    border-radius: .35vh;
    color: rgba(255, 255, 255, .75);
}

.otherlistings {
    display: grid;
    width: 80%;
    margin: 10vh 10% 0 10%;
    grid-auto-rows: 1fr;
    grid-column-gap: 2.5%;
    grid-row-gap: 3vh;
    grid-template-columns: repeat(4, 1fr);
}

.otherlistings .product {
    display: flex;
    flex-wrap: wrap;
    border: .3vh solid #bdbdbd;
    border-radius: .2vh;
    padding: 1vh 1vh;
}

.otherlistings .product.hidden {
    display: none;
}

.otherlistings .product .image {
    height: 9.646875vw;
    width: 17.15vw;
    background-color: var(--color-one);
    background-image: url(../images/placeholder.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.otherlistings .product .image .sale {
    display: block;
    width: 20%;
    text-align: center;
    position: absolute;
    left: 0%;
    top: 1vh;
    background-color: var(--color-one);
    font-size: 1.5vh;
    color: #fff;
    padding: .5vh 6%;
    border-radius: 5vh;
    font-weight: 600;
    margin: 0 34%;
}

.otherlistings .product .information {
    padding: 2vh 5%;
    flex-grow: 1;
    position: relative;
}

.otherlistings .product .information h1 {
    font-size: 2.75vh;
    margin: 0;
    font-weight: 600;
    margin-bottom: 1vh;
}

.otherlistings .product .information .line {
    display: flex;
    margin-bottom: 10vh;
}

.otherlistings .product .information .line p {
    margin: 0;
    color: var(--color-one);
    font-size: 2.25vh;
    font-weight: 600;
    margin-bottom: 3vh;
    margin-right: 7.5%;
}

.otherlistings .product .information .line span {
    position: relative;
    margin: 0;
    color: #c7c7c7;
    font-size: 2.25vh;
    font-weight: 600;
}

.otherlistings .product .information .line span::after {
    position: absolute;
    top: 30%;
    left: 0;
    content: '';
    background-color: #c7c7c7;
    width: 100%;
    height: .25vh;
}

.otherlistings .product .information .buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.otherlistings .product .information a, .otherlistings .product .information button[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: block;
    background-color: var(--color-one);
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 1vh 0;
    margin-bottom: 1vh;
    font-size: 1.65vh;
    border-radius: .15vh;
    transition: border-radius .25s ease, color .25s ease;
    cursor: pointer;
}

.otherlistings .product .information button[type=submit] {
    width: 100%;
    outline: none;
    border: none;
}

.otherlistings .product .information a:hover, .otherlistings .product .information button[type=submit]:hover {
    border-radius: .35vh;
    color: rgba(255, 255, 255, .75);
}

.footer {
    display: block;
    width: 80%;
    margin-top: 7vh;
    background-color: var(--color-one);
    padding: 4vh 10%;
}

.footer p {
    font-size: 1.75vh;
    color: #fff;
    opacity: .75;
    text-align: right;
    margin: 0;
    margin-top: 2vh;
}

.footer .top {
    display: flex;
    border-bottom: .2vh solid #fff;
    padding-bottom: 2vh;
}

.footer .top .left, .footer .top .center, .footer .top .right {
    width: 33.33%;
}

.footer .top h1 {
    font-size: 2.75vh;
    color: #fff;
    margin: 0;
    margin-bottom: 3vh;
}

.footer .top li {
    list-style: none;
}

.footer .top a {
    display: inline-block;
    font-size: 2vh;
    color: #fff;
    margin: 0;
    text-decoration: none;
    margin-bottom: 1.25vh;
    opacity: .75;
}

.footer .top .center {
    text-align: center;
}

.footer .top .right {
    text-align: right;
}

@media screen and (max-width: 600px), (orientation : portrait) {
    .announcement .close {
        right: 4%;
    }

    .navbar .right .dropdownbtn {
        display: inline-block;
    }

    .navbar .right .dropdownbtn.hidden {
        display: none;
    }

    .navbar .right .links {
        display: none;
    }

    .body {
        display: block;
    }

    .body .left {
        width: 80vw;
        height: 45vw;
    }

    .body .left .forward i {
        margin-left: -8vw;
    }

    .body .left .overflow .image {
        width: 80vw;
        height: 45vw;
    }

    .body .right {
        width: 80vw;
        margin-left: 0%;
    }

    .otherlistings {
        grid-template-columns: repeat(1, 1fr);
    }

    .otherlistings .product .image {
        width: 74.35vw;
        height: 41.79375vw;
    }

    .footer .top {
        display: block;
    }

    .footer p, .footer h1, .footer li {
        text-align: center !important;
    }

    .footer .top .left, .footer .top .center, .footer .top .right {
        width: 100%;
        text-align: left;
        margin-bottom: 4vh;
    }
}